include dash_draggable/dash_draggable.min.js
include dash_draggable/dash_draggable.min.js.map
include dash_draggable/metadata.json
include dash_draggable/package-info.json
include README.md
include LICENSE
include package.json
